<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Description Page</title>
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../../stylesheets/stylesdescription.css" />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alef&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('./partials/header') %>

    <main>
      <div class="container">
        <div class="product-information">
          <% if (!product) { %>
          <p class="error-message">No product found</p>
          <% } else { %>
          <article class="product-card">
            <figure class="product-image">
              <img src="../../images/botin3.jpg" alt="<%=product.name%>" />
            </figure>
            <div class="product-details">
              <h3 class="product-name"><%=product.name%></h3>
              <p class="product-price">$<%=product.price%></p>
              <p class="product-size"><%=product.size%></p>
              <p class="product-description"><%=product.description%></p>
              <form action="/products/cart"></form>
              <a
                href="/products/cart/<%=product.id%>"
                class="add-to-cart-button"
                >AGREGAR</a
              >
              <!-- <input
                type="submit"
                value="AGREGAR"
                class="add-to-cart-button"
              /> -->
            </div>
          </article>
          <% } %>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
